<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appId</key>
	<string>application-0-tljah</string>
	<key>baseUrl</key>
	<string>https://services.cloud.mongodb.com</string>
	<key>dataExplorerLink</key>
	<string>https://cloud.mongodb.com/links/application-0-tljah/explorer/Cluster0/database/collection/find</string>
</dict>
</plist>
